<div class="mm-endorsements">
    <div>
        <img src="/mmassets/T3.png" style="height: 4rem;" />
    </div>
    <div>
        <img src="/mmassets/ICICLE.png" style="height: 5rem;" />
    </div>
    <div>
        <img src="/mmassets/IEEE-LTSC.svg" style="height: 2rem;" />
    </div>
    <div>
        <img src="/mmassets/LearningEconomy.png" style="height: 3rem;" />
    </div>
    <div>
        <img src="/mmassets/OSN_Logo.webp" style="height: 4rem;" />
    </div>
    <div>
        <img src="/mmassets/collab-logo.png" style="height: 6rem;" />
    </div>
</div>
