<!-- NAVBAR -->
<nav class="mm-navbar">
    <div>
        <a href="/">Home</a>
    </div>

    <div class="dropdown">
        <a href="#" role="botton" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false" id="sDropdown">
           The MatchMaker Solution
        </a>
        <div>
            <div class="dropdown-menu mm-dropdown-menu" aria-labelledby="sDropdown">
                {%- assign menu = site.Solution | sort: 'ordinal' -%}
                {%- for post in menu -%}
                <!-- d-flex align-items-center text-reset text-decoration-none mt-5 -->
                <a class="" href="{{ post.url }}">
                    <div class="icon">
                        {% include svg/{{ post.icon}}.svg %}
                    </div>
                    <div>
                        {{ post.menu }}
                    </div>
                </a>
                {%- endfor -%}
            </div>
        </div>
    </div>

    <div class="dropdown">
        <a href="#" role="botton" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false" id="aDropdown">
           MatchMaker In Action
        </a>
        <div>
            <div class="dropdown-menu mm-dropdown-menu" aria-labelledby="aDropdown">
                {%- assign menu = site.Action | sort: 'ordinal' -%}
                {%- for post in menu -%}
                <!-- d-flex align-items-center text-reset text-decoration-none mt-5 -->
                <a class="" href="{{ post.url }}">
                    <div class="icon">
                        {% include svg/{{ post.icon}}.svg %}
                    </div>
                    <div>
                        {{ post.menu }}
                    </div>
                </a>
                {%- endfor -%}
            </div>
        </div>
    </div>

    <div class="dropdown">
        <a href="#" role="botton" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false" id="aDropdown">
           About Us
        </a>
        <div>
            <div class="dropdown-menu mm-dropdown-menu" aria-labelledby="aDropdown">
                {%- assign menu = site.About | sort: 'ordinal' -%}
                {%- for post in menu -%}
                <!-- d-flex align-items-center text-reset text-decoration-none mt-5 -->
                <a class="" href="{{ post.url }}">
                    <div class="icon">
                        {% include svg/{{ post.icon}}.svg %}
                    </div>
                    <div>
                        {{ post.menu }}
                    </div>
                </a>
                {%- endfor -%}
            </div>
        </div>
    </div>

</nav>
