<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-lg">

        <!-- Brand -->
        <a class="navbar-brand d-lg-none" href="./index.html">{{ site.data.text.siteName }}</a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left-Side Navigation -->
        <ul class="navbar-nav justify-content-end w-100">
            <!-- Empty for now -->
        </ul>

        <!-- Brand -->
        <a class="navbar-brand d-none d-lg-block px-lg-6" href="./index.html">{{ site.data.text.siteName }}</a>

        <!-- Right-Side Navigation -->
        <ul class="navbar-nav justify-content-start w-100">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="aboutDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
            </a>
            <div class="dropdown-positioner">
                <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="docsDropdown">
                <a class="d-flex align-items-center text-reset text-decoration-none mt-5" href="./about.html">

                    <!-- Icon -->
                    <div class="icon text-primary-light">
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M5.5 4h4A1.5 1.5 0 0111 5.5v1A1.5 1.5 0 019.5 8h-4A1.5 1.5 0 014 6.5v-1A1.5 1.5 0 015.5 4zm9 12h4a1.5 1.5 0 011.5 1.5v1a1.5 1.5 0 01-1.5 1.5h-4a1.5 1.5 0 01-1.5-1.5v-1a1.5 1.5 0 011.5-1.5z" fill="#335EEA"/><path d="M5.5 10h4a1.5 1.5 0 011.5 1.5v7A1.5 1.5 0 019.5 20h-4A1.5 1.5 0 014 18.5v-7A1.5 1.5 0 015.5 10zm9-6h4A1.5 1.5 0 0120 5.5v7a1.5 1.5 0 01-1.5 1.5h-4a1.5 1.5 0 01-1.5-1.5v-7A1.5 1.5 0 0114.5 4z" fill="#335EEA" opacity=".3"/></g></svg>
                    </div>

                    <div class="ml-3">

                    <!-- Heading -->
                    <h6 class="text-uppercase text-primary mb-0">
                        About
                    </h6>

                    <!-- Text -->
                    <span>Who are we?</span>

                    </div>

                </a>
                <a class="d-flex align-items-center text-reset text-decoration-none mt-5" href="./contact.html">

                    <!-- Icon -->
                    <div class="icon text-primary-light">
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M5.857 2h7.88a1.5 1.5 0 01.968.355l4.764 4.029A1.5 1.5 0 0120 7.529v12.554c0 1.79-.02 1.917-1.857 1.917H5.857C4.02 22 4 21.874 4 20.083V3.917C4 2.127 4.02 2 5.857 2z" fill="#335EEA" opacity=".3"/><rect fill="#335EEA" x="6" y="11" width="9" height="2" rx="1"/><rect fill="#335EEA" x="6" y="15" width="5" height="2" rx="1"/></g></svg>
                    </div>

                    <div class="ml-3">

                    <!-- Heading -->
                    <h6 class="text-uppercase text-primary mb-0">
                        Contact
                    </h6>

                    <!-- Text -->
                    <span>Contact us.</span>

                    </div>

                </a>
                </div>

            </div>
            </li>
        </ul>

        </div>

    </div>
</nav>
